.game {
    display: grid;
    grid-template-columns: 25vh 25vh 25vh 25vh;
    grid-template-rows: 25vh 25vh 25vh 25vh;
    gap: 10px;
}

.card {
    width: 75%;
    height: 100%;
    position: relative;
    background-image: url("../assets/card-back.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px;
    border-style: inset;
    border-color: black;
}

.game-difficult {
    display: grid;
    grid-template-columns: 16vh 16vh 16vh 16vh 16vh 16vh;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    gap: 10px;
}

.hidden {
    display: none;
}


