body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  header {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
    height: 25vh;
    background-color: #68696b;
    color: white;
  }
  
  header h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  header h2 {
    font-size: 1.5rem;
    margin: 0;
  }



  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    height: 50vh;
  }
  
  .btn {
    background-color: #68696b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin: 0 10px;
  }

  .btn:hover {
    background-color: #8d9092;
    color: black;
  }
  
  footer {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 25vh;
    background-color: #68696b;
    color: white;
  }
  
  @media screen and (max-width: 768px) {
    header {
      height: 20vh;
    }
  
    header h1 {
      font-size: 2rem;
    }
  
    header h2 {
      font-size: 1rem;
    }
  
    main {
      height: 40vh;
    }
  
    .btn {
      font-size: 1.2rem;
      padding: 8px 16px;
    }
  
    footer {
      height: 20vh;
      position: fixed;
      bottom: 0;
     width: 100%;
    }
  }
  